body {
    background-color: #0A0C27;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding-bottom: 13px;
    -webkit-box-shadow: 0 5px 6px -6px white;
	-moz-box-shadow: 0 5px 6px -6px white;
    box-shadow: 0 5px 6px -6px white;
    background-color:#040620;
    width: 100%;
    height: 100%;
    padding:50px 0;
  }
  .logo a {
    text-decoration: none;
    -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Exo 2';
    line-height: 0.8;
    color: #6934fe;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #1f018e, 0 3px 0 #200193, 0 5px 0 #210198, 0 7px 0 #22019d, 0 9px 0 #2301a3, 0 6px 50px rgba(143, 103, 254, 0.8);
  }
  .logo a:first-line {
    font-size: 0.8em;
  }
  .logo a:hover {
    -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
    transform: perspective(8em) rotateX(11deg) scale(1.2);
    text-shadow: 0 -1px 15px black, 0 1px 0 #1f018e, 0 2px 0 #200193, 0 0px 0 #210198, 0 1px 0 #22019d, 0 2px 0 #2301a3, 0 2px 30px rgba(143, 103, 254, 0.6);
}

 .footer{
     text-align: center;
     color: #BFC2E1;
     
 }

 p{
    font-family: 'Lora', serif;
 }

  .button-container {
    position: absolute;
    left: 50%;
    top: 33%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .btn {
    display: block;
    height: 50px;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
  }
  .btn:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: #3bade3;
    background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
    height: 50px;
    width: 372px;
    z-index: -1;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  }
  .btn:hover:after {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  .btn span {
    position: relative;
    top: 16px;
  }
  